<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

<link rel="stylesheet" href="/css/home.css">

<div class="home-container">
    <%if(locals.user){%>
        <div id="home-flex">
            <div class="home-flex-child" id="user-dashboard">
                <div id="absolute-div-dashboard">
                    <%if(locals.user){%>
                        <div style="width: 18rem">
                            <div id="dashboard-pic">
                                <%if(locals.user.avatar){%>
                                    <img src="<%=locals.user.avatar%>" alt="image" />
                                    <%}else{%>
                                        <img src="http://localhost:8000/images/DefaultUser.png" alt="User image" />
                                        <%}%>
                            </div>
                            <div class="card-profile">
                                <h5 class="card-title text-capitalize text-center">
                                    <%=locals.user.name%>
                                </h5>
                                <div id="friends-dashboard-count" class="d-flex flex-row justify-content-between">
                                    <h5>Friends</h5>
                                    <h5>
                                        <%=locals.friends.length%>
                                    </h5>
                                </div>
                                <div class="text-center">
                                    <a href="/users/profile/<%=locals.user._id%>" style="text-decoration: none">
                                        View Profile
                                        <i class="fas fa-user-circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <%}%>
                </div>

                <div class="home-flex-child " id="friend-info">
                    <div id="absolute-div-friend">
                        <div>
                            <%if(locals.user){%>
                                <h4>Friends</h4>
                                <%for(fr of locals.friends){%>
                                    <div
                                        class="list-group-item list-group-item-action list-group-item-info d-flex flex-row profile-info">
                                        <h3 class="profile-pic-holder">
                                            <%if(fr.friend_avatar){%>
                                                <img src="<%=fr.friend_avatar%>" alt="image" />
                                                <%}else{%>
                                                    <img src="http://localhost:8000/images/DefaultUser.png"
                                                        alt="User image" />
                                                    <%}%>
                                        </h3>
                                        <p class="profile-name-holder">
                                            <a href="/users/profile/<%=fr.friend_id%>">
                                                <%=fr.friend_name%>
                                            </a>
                                        </p>
                                    </div>
                                    <%}%>
                                        <%}%>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-flex-child" id="post-info">
                <div class="card m-4">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="posts-tab-link" data-bs-toggle="tab" href="#posts-tab"
                                    role="tab" aria-controls="posts-tab" aria-selected="true">Post</a>
                            </li>

                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts-tab" role="tabpanel"
                                aria-labelledby="posts-tab-link">
                                <h5 class="card-title">Hi! share your story with friends . . . </h5>
                                <form action="/posts/create" id="new-post-form" method="POST">
                                    <textarea name="content" required></textarea>
                                    <br />
                                    <br>
                                    <input type="submit" class="btn btn-primary" id="post-btn" value="Post"
                                        form="new-post-form" />
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="post-list-container">
                    <div>
                        <%for(post of posts){%>
                            <%- include('_post'); %>
                                <%}%>
                    </div>
                </div>
            </div>

            <div class="home-flex-child right-text" id="user-info">
                <div id="absolute-div-user">
                    <div>
                        <h4>Members</h4>
                        <%for(u of all_users){%>
                            <div
                                class="list-group-item list-group-item-action list-group-item-info d-flex flex-row profile-info">
                                <h3 class="profile-pic-holder">
                                    <%if(u.avatar){%>
                                        <img src="<%=u.avatar%>" alt="image" />
                                        <%}else{%>
                                            <img src="http://localhost:8000/images/DefaultUser.png" alt="User image" />
                                            <%}%>
                                </h3>
                                <p class="profile-name-holder">
                                    <a href="/users/profile/<%=u._id%>">
                                        <%=u.name%>
                                    </a>
                                </p>
                            </div>
                            <%}%>
                    </div>

                </div>
            </div>

            <%}else{%>
                <%- include('user_sign_in') -%>
        </div>
        <%}%>
</div>


<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="js/toggle_likes.js"></script>
<script>
    $(".toggle-like-button").each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>